[log]
    decorate = short
    abbrevCommit = true

[include]
    path = .gitconfig.local
[user]
  signingkey = 54E44C4D345DD098
	email = 2422012+jloehel@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[color]
	ui = auto
[http]
	postBuffer = 1048576000
